{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Amphibians</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Amphibians</th>
                <td>{{ entity.amphibians }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ entity.age }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_amphibians') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_amphibians_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
